/* General Page Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin: 10px 5px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items:center ;
    font-size: 18px;
}

.sidebar ul li:hover {
    background: #34495e;
    border-radius: 5px;
}
.sidebar img{
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header h1 {
    color: #333;
}

header p {
    color: #777;
}
/* Form Container */
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.form-container h2 {
    margin-top: 0;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#gender-div label{
    display: inline-block;
    margin-bottom: 10px;
}
#gender-div input{
    width:5%;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #7a3deb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
